In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [2]:
df = pd.read_csv(r'C:\Users\hp\Downloads\weekly_market_2017_2022.tsv', sep='\t')

# EDA

In [3]:
df.head(10)

,region_id,region_type_id,region_name,region_type,period_begin,period_end,duration,total_homes_sold,total_homes_sold_yoy,average_homes_sold,...,average_adjustment_average_homes_sold,adjusted_average_homes_sold,average_adjustment_average_new_listings,adjusted_average_new_listings,average_adjustment_pending_sales,adjusted_pending_sales,adjusted_average_homes_delisted_yoy,adjusted_average_homes_sold_yoy,adjusted_average_new_listings_yoy,adjusted_pending_sales_yoy
0,441,5,"Brevard County, FL",county,2021-04-12,2021-04-18,1 weeks,334.0,0.629268,334.0,...,NaN,334.0,NaN,283.0,NaN,284.0,-0.512195,0.629268,0.132000,1.103704
1,441,5,"Brevard County, FL",county,2019-03-18,2019-03-24,1 weeks,248.0,-0.057034,248.0,...,NaN,248.0,NaN,291.0,NaN,147.0,0.000000,-0.057034,-0.115502,-0.051613
2,682,5,"Caribou County, ID",county,2017-03-13,2017-03-19,1 weeks,1.0,NaN,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,155,5,"Jefferson County, AL",county,2018-03-26,2018-04-01,1 weeks,283.0,0.092664,283.0,...,NaN,283.0,NaN,216.0,NaN,182.0,-0.352941,0.092664,-0.175573,0.300000
4,441,5,"Brevard County, FL",county,2019-07-29,2019-08-04,1 weeks,364.0,0.120000,364.0,...,NaN,364.0,NaN,296.0,NaN,219.0,0.106383,0.120000,-0.175487,0.123077
5,441,5,"Brevard County, FL",county,2021-11-08,2021-11-14,1 weeks,270.0,0.054688,270.0,...,NaN,270.0,NaN,330.0,NaN,243.0,-0.096774,0.054688,0.141869,0.162679
6,282,5,"Pike County, AR",county,2021-08-16,2021-08-22,1 weeks,2.0,NaN,2.0,...,NaN,2.0,NaN,2.0,NaN,1.0,NaN,NaN,-0.333333,NaN
7,2566,5,"Dickson County, TN",county,2017-01-16,2017-01-22,1 weeks,4.0,-0.333333,4.0,...,NaN,4.0,NaN,14.0,NaN,7.0,NaN,-0.333333,1.000000,6.000000
8,1158,5,"Harrison County, KY",county,2019-08-26,2019-09-01,1 weeks,5.0,1.500000,5.0,...,NaN,5.0,NaN,6.0,NaN,3.0,-0.500000,1.500000,-0.142857,0.000000
9,2566,5,"Dickson County, TN",county,2017-02-27,2017-03-05,1 weeks,20.0,-0.090909,20.0,...,NaN,20.0,NaN,13.0,NaN,8.0,NaN,-0.090909,0.083333,-0.111111

In [4]:
len(df)

1945431

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1945431 entries, 0 to 1945430
Data columns (total 98 columns):
 #   Column                                        Dtype
---  ------                                        -----
 0   region_id                                     int64
 1   region_type_id                                int64
 2   region_name                                   object
 3   region_type                                   object
 4   period_begin                                  object
 5   period_end                                    object
 6   duration                                      object
 7   total_homes_sold                              float64
 8   total_homes_sold_yoy                          float64
 9   average_homes_sold                            float64
 10  average_homes_sold_yoy                        float64
 11  total_homes_sold_with_price_drops             float64
 12  total_homes_sold_with_price_drops_yoy         float64
 13  average_homes_sold_with_price_drops           float64
 14  average_homes_sold_with_price_drops_yoy       float64
 15  percent_homes_sold_with_price_drops           float64
 16  percent_homes_sold_with_price_drops_yoy       float64
 17  median_sale_price                             float64
 18  median_sale_price_yoy                         float64
 19  median_sale_ppsf                              float64
 20  median_sale_ppsf_yoy                          float64
 21  median_days_to_close                          float64
 22  median_days_to_close_yoy                      float64
 23  price_drops                                   float64
 24  price_drops_yoy                               float64
 25  percent_active_listings_with_price_drops      float64
 26  percent_active_listings_with_price_drops_yoy  float64
 27  pending_sales                                 float64
 28  pending_sales_yoy                             float64
 29  median_pending_sqft                           float64
 30  median_pending_sqft_yoy                       float64
 31  off_market_in_two_weeks                       float64
 32  off_market_in_two_weeks_yoy                   float64
 33  off_market_in_one_week                        float64
 34  off_market_in_one_week_yoy                    float64
 35  percent_off_market_in_two_weeks               float64
 36  percent_off_market_in_two_weeks_yoy           float64
 37  percent_off_market_in_one_week                float64
 38  percent_off_market_in_one_week_yoy            float64
 39  total_new_listings                            float64
 40  total_new_listings_yoy                        float64
 41  average_new_listings                          float64
 42  average_new_listings_yoy                      float64
 43  median_new_listing_price                      float64
 44  median_new_listing_price_yoy                  float64
 45  median_new_listing_ppsf                       float64
 46  median_new_listing_ppsf_yoy                   float64
 47  inventory                                     float64
 48  inventory_yoy                                 float64
 49  total_active_listings                         float64
 50  total_active_listings_yoy                     float64
 51  active_listings                               float64
 52  active_listings_yoy                           float64
 53  age_of_inventory                              float64
 54  age_of_inventory_yoy                          float64
 55  homes_delisted                                float64
 56  homes_delisted_yoy                            float64
 57  percent_active_listings_delisted              float64
 58  percent_active_listings_delisted_yoy          float64
 59  median_active_list_price                      float64
 60  median_active_list_price_yoy                  float64
 61  median_active_list_ppsf                       float64
 62  median_active_list_ppsf_yoy                   float64
 63  average_of_median_list_price_amount           float64
 64  average_of_median_list_price_amount_yoy       float64
 65  average_of_median_offer_price_amount          float64
 66  average_of_median_offer_price_amount_yoy      float64
 67  avg_offer_to_list                             float64
 68  avg_offer_to_list_yoy                         float64
 69  average_sale_to_list_ratio                    float64
 70  average_sale_to_list_ratio_yoy                float64
 71  median_days_on_market                         float64
 72  median_days_on_market_yoy                     float64
 73  pending_sales_to_sales_ratio                  float64
 74  pending_sales_to_sales_ratio_yoy              float64
 75  months_of_supply                              float64
 76  months_of_supply_yoy                          float64
 77  average_pending_sales_listing_updates         float64
 78  average_pending_sales_listing_updates_yoy     float64
 79  percent_total_price_drops_of_inventory        float64
 80  percent_total_price_drops_of_inventory_yoy    float64
 81  percent_homes_sold_above_list                 float64
 82  percent_homes_sold_above_list_yoy             float64
 83  price_drop_percent_of_old_list_price          float64
 84  price_drop_percent_of_old_list_price_yoy      float64
 85  last_updated                                  object
 86  average_adjustment_average_homes_delisted     float64
 87  adjusted_average_homes_delisted               float64
 88  average_adjustment_average_homes_sold         float64
 89  adjusted_average_homes_sold                   float64
 90  average_adjustment_average_new_listings       float64
 91  adjusted_average_new_listings                 float64
 92  average_adjustment_pending_sales              float64
 93  adjusted_pending_sales                        float64
 94  adjusted_average_homes_delisted_yoy           float64
 95  adjusted_average_homes_sold_yoy               float64
 96  adjusted_average_new_listings_yoy             float64
 97  adjusted_pending_sales_yoy                    float64
dtypes: float64(90), int64(2), object(6)
memory usage: 1.4+ GB

In [6]:
df.describe()

,region_id,region_type_id,total_homes_sold,total_homes_sold_yoy,average_homes_sold,average_homes_sold_yoy,total_homes_sold_with_price_drops,total_homes_sold_with_price_drops_yoy,average_homes_sold_with_price_drops,average_homes_sold_with_price_drops_yoy,...,average_adjustment_average_homes_sold,adjusted_average_homes_sold,average_adjustment_average_new_listings,adjusted_average_new_listings,average_adjustment_pending_sales,adjusted_pending_sales,adjusted_average_homes_delisted_yoy,adjusted_average_homes_sold_yoy,adjusted_average_new_listings_yoy,adjusted_pending_sales_yoy
count,1.945431e+06,1.945431e+06,1.719107e+06,1.620482e+06,1.719107e+06,1.620482e+06,1.719107e+06,1.086698e+06,1.719107e+06,980326.000000,...,1611.000000,1.719107e+06,1616.000000,1.754157e+06,1596.000000,1.558213e+06,1.225882e+06,1.620482e+06,1.660734e+06,1.435004e+06
mean,8.709852e+03,3.265745e+00,5.664429e+02,4.083257e-01,1.009436e+02,2.266887e-01,1.326099e+02,3.868111e-01,2.345496e+01,0.037693,...,1.022150,1.009506e+02,1.036930,1.120767e+02,1.092702,7.727421e+01,8.268552e-02,2.267086e-01,2.119070e-01,3.623567e-01
std,1.352390e+04,3.021945e+00,1.182947e+04,7.337751e+00,1.632909e+03,2.330126e+00,2.764585e+03,9.061505e+00,3.812891e+02,1.463136,...,0.039244,1.633072e+03,0.098687,1.828929e+03,0.335292,1.194239e+03,1.660713e+00,2.330124e+00,1.915499e+00,2.624989e+00
min,-1.000000e+00,-2.000000e+00,1.000000e+00,-9.921260e-01,1.000000e+00,-9.921260e-01,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000,...,0.946970,1.000000e+00,0.787380,9.090909e-01,0.666667,9.545455e-01,-9.974160e-01,-9.921260e-01,-9.930556e-01,-9.932432e-01
25%,1.288000e+03,5.000000e+00,9.000000e+00,-1.000000e-01,3.000000e+00,-7.623318e-02,0.000000e+00,-3.315789e-01,0.000000e+00,-0.333333,...,1.002439,3.000000e+00,1.003284,3.000000e+00,0.999014,2.000000e+00,-3.333333e-01,-7.614213e-02,-1.034483e-01,0.000000e+00
50%,2.291000e+03,5.000000e+00,4.200000e+01,3.529412e-02,1.100000e+01,0.000000e+00,6.000000e+00,-4.621849e-02,2.000000e+00,0.000000,...,1.011673,1.100000e+01,1.014240,1.100000e+01,1.014894,7.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.032258e-02
75%,3.228000e+03,5.000000e+00,1.970000e+02,2.592593e-01,4.800000e+01,2.222222e-01,3.900000e+01,2.032608e-01,9.000000e+00,0.145833,...,1.029685,4.800000e+01,1.041237,5.000000e+01,1.061931,3.500000e+01,3.846154e-02,2.222222e-01,1.987478e-01,3.790850e-01
max,4.978000e+04,5.000000e+00,1.139566e+06,1.665000e+03,1.214900e+05,2.540000e+02,2.782560e+05,1.329000e+03,3.098700e+04,242.000000,...,1.812500,1.214900e+05,2.350144,1.155920e+05,5.590909,8.155700e+04,1.188000e+03,2.540000e+02,3.995000e+02,2.260000e+02

In [7]:
columns=df.columns
len(columns)

98

In [8]:
df.isna().sum()

region_id                                   0
region_type_id                              0
region_name                                 0
region_type                                 0
period_begin                                0
                                        ...
adjusted_pending_sales                 387218
adjusted_average_homes_delisted_yoy    719549
adjusted_average_homes_sold_yoy        324949
adjusted_average_new_listings_yoy      284697
adjusted_pending_sales_yoy             510427
Length: 98, dtype: int64

In [9]:
df['region_id'].value_counts()

2049     802
26220    802
2654     802
607      802
1631     802
        ...
2249      86
2251      86
2270      75
553       47
2717      41
Name: region_id, Length: 2518, dtype: int64

In [10]:
df['region_type_id'].value_counts()

 5    1463449
-2     481982
Name: region_type_id, dtype: int64

In [11]:
df['region_type'].value_counts()

county    1463449
metro      481982
Name: region_type, dtype: int64

#Preprocessing

##**Removing columns with more than 40% null values**

In [12]:
df.isnull().mean()

region_id                              0.000000
region_type_id                         0.000000
region_name                            0.000000
region_type                            0.000000
period_begin                           0.000000
                                         ...
adjusted_pending_sales                 0.199040
adjusted_average_homes_delisted_yoy    0.369866
adjusted_average_homes_sold_yoy        0.167032
adjusted_average_new_listings_yoy      0.146341
adjusted_pending_sales_yoy             0.262372
Length: 98, dtype: float64

In [13]:
remove_columns=df.columns[df.isnull().mean()>0.4]
remove_columns

Index(['total_homes_sold_with_price_drops_yoy',
       'average_homes_sold_with_price_drops_yoy', 'price_drops_yoy',
       'percent_active_listings_with_price_drops_yoy',
       'off_market_in_two_weeks_yoy', 'off_market_in_one_week_yoy',
       'average_of_median_list_price_amount',
       'average_of_median_list_price_amount_yoy',
       'average_of_median_offer_price_amount',
       'average_of_median_offer_price_amount_yoy', 'avg_offer_to_list',
       'avg_offer_to_list_yoy', 'average_pending_sales_listing_updates_yoy',
       'percent_total_price_drops_of_inventory_yoy',
       'price_drop_percent_of_old_list_price_yoy',
       'average_adjustment_average_homes_delisted',
       'average_adjustment_average_homes_sold',
       'average_adjustment_average_new_listings',
       'average_adjustment_pending_sales'],
      dtype='object')

In [14]:
len(remove_columns)

19

In [15]:
df1=df.drop(remove_columns,axis=1)
df1

,region_id,region_type_id,region_name,region_type,period_begin,period_end,duration,total_homes_sold,total_homes_sold_yoy,average_homes_sold,...,price_drop_percent_of_old_list_price,last_updated,adjusted_average_homes_delisted,adjusted_average_homes_sold,adjusted_average_new_listings,adjusted_pending_sales,adjusted_average_homes_delisted_yoy,adjusted_average_homes_sold_yoy,adjusted_average_new_listings_yoy,adjusted_pending_sales_yoy
0,441,5,"Brevard County, FL",county,2021-04-12,2021-04-18,1 weeks,334.0,0.629268,334.0,...,0.045844,2022-03-23 17:53:25,20.0,334.0,283.0,284.0,-0.512195,0.629268,0.132000,1.103704
1,441,5,"Brevard County, FL",county,2019-03-18,2019-03-24,1 weeks,248.0,-0.057034,248.0,...,0.030491,2022-03-23 17:53:25,40.0,248.0,291.0,147.0,0.000000,-0.057034,-0.115502,-0.051613
2,682,5,"Caribou County, ID",county,2017-03-13,2017-03-19,1 weeks,1.0,NaN,1.0,...,NaN,2022-03-23 17:53:25,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,155,5,"Jefferson County, AL",county,2018-03-26,2018-04-01,1 weeks,283.0,0.092664,283.0,...,0.078859,2022-03-23 17:53:25,33.0,283.0,216.0,182.0,-0.352941,0.092664,-0.175573,0.300000
4,441,5,"Brevard County, FL",county,2019-07-29,2019-08-04,1 weeks,364.0,0.120000,364.0,...,0.048337,2022-03-23 17:53:25,52.0,364.0,296.0,219.0,0.106383,0.120000,-0.175487,0.123077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1945426,33220,-2,"Midland, MI metro area",metro,2018-09-03,2018-11-25,12 weeks,12.0,0.500000,1.0,...,NaN,2022-03-23 17:53:25,1.0,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000
1945427,2776,5,"Kleberg County, TX",county,2019-04-15,2019-07-07,12 weeks,1.0,0.000000,1.0,...,0.086410,2022-03-23 17:53:25,2.0,1.0,2.0,NaN,1.000000,0.000000,1.000000,NaN
1945428,2965,5,"Fairfax County, VA",county,2021-02-22,2021-05-16,12 weeks,4756.0,0.314175,396.0,...,0.035488,2022-03-23 17:53:25,27.0,396.0,515.0,417.0,-0.289474,0.315615,0.344648,0.533088
1945429,2776,5,"Kleberg County, TX",county,2021-12-20,2022-03-13,12 weeks,NaN,NaN,NaN,...,0.054707,2022-03-23 17:53:25,3.0,NaN,4.0,2.0,-0.400000,NaN,0.000000,NaN
1945430,33700,-2,"Modesto, CA metro area",metro,2020-09-14,2020-12-06,12 weeks,1479.0,0.089102,123.0,...,0.037436,2022-03-23 17:53:25,55.0,123.0,161.0,100.0,1.619048,0.088496,0.504673,0.149425

##**Filtering out columns**

In [16]:
df1.columns

Index(['region_id', 'region_type_id', 'region_name', 'region_type',
       'period_begin', 'period_end', 'duration', 'total_homes_sold',
       'total_homes_sold_yoy', 'average_homes_sold', 'average_homes_sold_yoy',
       'total_homes_sold_with_price_drops',
       'average_homes_sold_with_price_drops',
       'percent_homes_sold_with_price_drops',
       'percent_homes_sold_with_price_drops_yoy', 'median_sale_price',
       'median_sale_price_yoy', 'median_sale_ppsf', 'median_sale_ppsf_yoy',
       'median_days_to_close', 'median_days_to_close_yoy', 'price_drops',
       'percent_active_listings_with_price_drops', 'pending_sales',
       'pending_sales_yoy', 'median_pending_sqft', 'median_pending_sqft_yoy',
       'off_market_in_two_weeks', 'off_market_in_one_week',
       'percent_off_market_in_two_weeks',
       'percent_off_market_in_two_weeks_yoy', 'percent_off_market_in_one_week',
       'percent_off_market_in_one_week_yoy', 'total_new_listings',
       'total_new_listings_yoy', 'average_new_listings',
       'average_new_listings_yoy', 'median_new_listing_price',
       'median_new_listing_price_yoy', 'median_new_listing_ppsf',
       'median_new_listing_ppsf_yoy', 'inventory', 'inventory_yoy',
       'total_active_listings', 'total_active_listings_yoy', 'active_listings',
       'active_listings_yoy', 'age_of_inventory', 'age_of_inventory_yoy',
       'homes_delisted', 'homes_delisted_yoy',
       'percent_active_listings_delisted',
       'percent_active_listings_delisted_yoy', 'median_active_list_price',
       'median_active_list_price_yoy', 'median_active_list_ppsf',
       'median_active_list_ppsf_yoy', 'average_sale_to_list_ratio',
       'average_sale_to_list_ratio_yoy', 'median_days_on_market',
       'median_days_on_market_yoy', 'pending_sales_to_sales_ratio',
       'pending_sales_to_sales_ratio_yoy', 'months_of_supply',
       'months_of_supply_yoy', 'average_pending_sales_listing_updates',
       'percent_total_price_drops_of_inventory',
       'percent_homes_sold_above_list', 'percent_homes_sold_above_list_yoy',
       'price_drop_percent_of_old_list_price', 'last_updated',
       'adjusted_average_homes_delisted', 'adjusted_average_homes_sold',
       'adjusted_average_new_listings', 'adjusted_pending_sales',
       'adjusted_average_homes_delisted_yoy',
       'adjusted_average_homes_sold_yoy', 'adjusted_average_new_listings_yoy',
       'adjusted_pending_sales_yoy'],
      dtype='object')

In [17]:
filtered_columns=['region_name', 'region_type','period_begin', 'period_end','duration',
       'average_homes_sold', 'average_homes_sold_yoy',
       'percent_homes_sold_with_price_drops','percent_homes_sold_with_price_drops_yoy', 
       'median_sale_price','median_sale_price_yoy',
       'median_sale_ppsf', 'median_sale_ppsf_yoy',
       'median_days_to_close', 'median_days_to_close_yoy',
       'price_drops',
       'pending_sales', 'pending_sales_yoy',
       'median_pending_sqft', 'median_pending_sqft_yoy',
       'average_new_listings','average_new_listings_yoy', 
       'median_new_listing_price','median_new_listing_price_yoy',
       'median_new_listing_ppsf', 'median_new_listing_ppsf_yoy',
       'inventory', 'inventory_yoy',
       'active_listings','active_listings_yoy',
       'age_of_inventory', 'age_of_inventory_yoy',
       'median_active_list_price', 'median_active_list_price_yoy',
       'median_active_list_ppsf', 'median_active_list_ppsf_yoy',
       'average_sale_to_list_ratio', 'average_sale_to_list_ratio_yoy',
       'median_days_on_market', 'median_days_on_market_yoy',
       'pending_sales_to_sales_ratio', 'pending_sales_to_sales_ratio_yoy']

In [18]:
df1=df1[filtered_columns]
df1

,region_name,region_type,period_begin,period_end,duration,average_homes_sold,average_homes_sold_yoy,percent_homes_sold_with_price_drops,percent_homes_sold_with_price_drops_yoy,median_sale_price,...,median_active_list_price,median_active_list_price_yoy,median_active_list_ppsf,median_active_list_ppsf_yoy,average_sale_to_list_ratio,average_sale_to_list_ratio_yoy,median_days_on_market,median_days_on_market_yoy,pending_sales_to_sales_ratio,pending_sales_to_sales_ratio_yoy
0,"Brevard County, FL",county,2021-04-12,2021-04-18,1 weeks,334.0,0.629268,0.197605,-0.056054,285000.0,...,299900.0,0.090545,174.937500,0.138018,0.991684,0.016480,47.0,-20.0,0.850299,0.191763
1,"Brevard County, FL",county,2019-03-18,2019-03-24,1 weeks,248.0,-0.057034,0.000000,-0.003802,213495.0,...,259000.0,0.016683,146.544151,0.022145,0.964308,-0.005071,74.0,3.0,0.592742,0.003388
2,"Caribou County, ID",county,2017-03-13,2017-03-19,1 weeks,1.0,NaN,0.000000,NaN,49000.0,...,98000.0,-0.367742,48.826597,-0.194834,0.928030,NaN,101.0,NaN,NaN,NaN
3,"Jefferson County, AL",county,2018-03-26,2018-04-01,1 weeks,283.0,0.092664,0.293286,0.038460,184900.0,...,199650.0,0.024371,100.677201,0.030044,0.979358,0.002847,59.0,-4.0,0.643110,0.102569
4,"Brevard County, FL",county,2019-07-29,2019-08-04,1 weeks,364.0,0.120000,0.005495,-0.000659,235000.0,...,259900.0,0.000000,147.024108,0.019294,0.974330,0.003170,68.5,1.5,0.601648,0.001648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1945426,"Midland, MI metro area",metro,2018-09-03,2018-11-25,12 weeks,1.0,0.000000,0.000000,0.000000,175633.3,...,128366.6,0.036730,92.730698,0.025507,0.945894,-0.048231,87.8,29.1,0.900000,-0.033333
1945427,"Kleberg County, TX",county,2019-04-15,2019-07-07,12 weeks,1.0,0.000000,0.000000,-1.000000,540000.0,...,145658.3,-0.072855,83.935043,-0.017926,0.939130,-0.060870,262.0,182.0,NaN,NaN
1945428,"Fairfax County, VA",county,2021-02-22,2021-05-16,12 weeks,396.0,0.315615,0.098868,-0.008139,619688.1,...,607431.0,-0.109212,306.990291,0.102327,1.026390,0.020657,9.9,-5.2,1.070485,0.131898
1945429,"Kleberg County, TX",county,2021-12-20,2022-03-13,12 weeks,NaN,NaN,NaN,NaN,NaN,...,195079.1,0.117025,114.351452,0.115456,NaN,NaN,NaN,NaN,NaN,NaN
1945430,"Modesto, CA metro area",metro,2020-09-14,2020-12-06,12 weeks,123.0,0.088496,0.132700,-0.176733,375166.6,...,408040.6,0.125759,230.803647,0.123498,1.007299,0.017049,7.9,-14.3,0.813186,0.029655

In [19]:
len(df1.columns)

42

##**Splitting month and year**

In [20]:
df1["year"]=[x.split('-')[0] for x in df1["period_begin"]]
df1["year"]

<ipython-input-20-9b1c242522fc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["year"]=[x.split('-')[0] for x in df1["period_begin"]]

0          2021
1          2019
2          2017
3          2018
4          2019
           ...
1945426    2018
1945427    2019
1945428    2021
1945429    2021
1945430    2020
Name: year, Length: 1945431, dtype: object

In [21]:
df1["month"]=[x.split('-')[1] for x in df1["period_begin"]]
df1["month"]

<ipython-input-21-156ff0e49b80>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["month"]=[x.split('-')[1] for x in df1["period_begin"]]

0          04
1          03
2          03
3          03
4          07
           ..
1945426    09
1945427    04
1945428    02
1945429    12
1945430    09
Name: month, Length: 1945431, dtype: object

In [22]:
df1.drop(["period_begin","period_end"],axis=1,inplace=True)

C:\Users\hp\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

##**Handling null values**

In [23]:
df1.isna().sum()

region_name                                     0
region_type                                     0
duration                                        0
average_homes_sold                         226324
average_homes_sold_yoy                     324949
percent_homes_sold_with_price_drops        226324
percent_homes_sold_with_price_drops_yoy    324949
median_sale_price                          226324
median_sale_price_yoy                      324949
median_sale_ppsf                           229131
median_sale_ppsf_yoy                       328877
median_days_to_close                       226324
median_days_to_close_yoy                   324949
price_drops                                675741
pending_sales                              387218
pending_sales_yoy                          510427
median_pending_sqft                        390187
median_pending_sqft_yoy                    514613
average_new_listings                       191274
average_new_listings_yoy                   284697
median_new_listing_price                   192001
median_new_listing_price_yoy               285492
median_new_listing_ppsf                    195056
median_new_listing_ppsf_yoy                289627
inventory                                   15632
inventory_yoy                               61000
active_listings                             13664
active_listings_yoy                         58380
age_of_inventory                            15632
age_of_inventory_yoy                        61000
median_active_list_price                    14644
median_active_list_price_yoy                59543
median_active_list_ppsf                     16533
median_active_list_ppsf_yoy                 62905
average_sale_to_list_ratio                 229339
average_sale_to_list_ratio_yoy             328236
median_days_on_market                      234570
median_days_on_market_yoy                  335907
pending_sales_to_sales_ratio               420800
pending_sales_to_sales_ratio_yoy           538331
year                                            0
month                                           0
dtype: int64

In [24]:
cols=df1.columns[df1.isnull().any()]
cols

Index(['average_homes_sold', 'average_homes_sold_yoy',
       'percent_homes_sold_with_price_drops',
       'percent_homes_sold_with_price_drops_yoy', 'median_sale_price',
       'median_sale_price_yoy', 'median_sale_ppsf', 'median_sale_ppsf_yoy',
       'median_days_to_close', 'median_days_to_close_yoy', 'price_drops',
       'pending_sales', 'pending_sales_yoy', 'median_pending_sqft',
       'median_pending_sqft_yoy', 'average_new_listings',
       'average_new_listings_yoy', 'median_new_listing_price',
       'median_new_listing_price_yoy', 'median_new_listing_ppsf',
       'median_new_listing_ppsf_yoy', 'inventory', 'inventory_yoy',
       'active_listings', 'active_listings_yoy', 'age_of_inventory',
       'age_of_inventory_yoy', 'median_active_list_price',
       'median_active_list_price_yoy', 'median_active_list_ppsf',
       'median_active_list_ppsf_yoy', 'average_sale_to_list_ratio',
       'average_sale_to_list_ratio_yoy', 'median_days_on_market',
       'median_days_on_market_yoy', 'pending_sales_to_sales_ratio',
       'pending_sales_to_sales_ratio_yoy'],
      dtype='object')

In [25]:
for col in cols:
  df1[col].fillna(df1[col].mean(),inplace=True)

C:\Users\hp\anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [26]:
df1.isna().sum()

region_name                                0
region_type                                0
duration                                   0
average_homes_sold                         0
average_homes_sold_yoy                     0
percent_homes_sold_with_price_drops        0
percent_homes_sold_with_price_drops_yoy    0
median_sale_price                          0
median_sale_price_yoy                      0
median_sale_ppsf                           0
median_sale_ppsf_yoy                       0
median_days_to_close                       0
median_days_to_close_yoy                   0
price_drops                                0
pending_sales                              0
pending_sales_yoy                          0
median_pending_sqft                        0
median_pending_sqft_yoy                    0
average_new_listings                       0
average_new_listings_yoy                   0
median_new_listing_price                   0
median_new_listing_price_yoy               0
median_new_listing_ppsf                    0
median_new_listing_ppsf_yoy                0
inventory                                  0
inventory_yoy                              0
active_listings                            0
active_listings_yoy                        0
age_of_inventory                           0
age_of_inventory_yoy                       0
median_active_list_price                   0
median_active_list_price_yoy               0
median_active_list_ppsf                    0
median_active_list_ppsf_yoy                0
average_sale_to_list_ratio                 0
average_sale_to_list_ratio_yoy             0
median_days_on_market                      0
median_days_on_market_yoy                  0
pending_sales_to_sales_ratio               0
pending_sales_to_sales_ratio_yoy           0
year                                       0
month                                      0
dtype: int64

##**Finding county name from region name**

In [ ]:
df1["county"]=[x.split(',')[0] for x in df1["region_name"]]
for i in range(len(df1)):
  l=df1.iloc[i]['county'].split(' ')
  if len(l)>1:
    df1.at[i,'county']=l[0]
  df1.at[i,'county']=df1.at[i,'county'].strip()

<ipython-input-27-1539294bd9c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["county"]=[x.split(',')[0] for x in df1["region_name"]]

##**Finding State name of each entry**

In [ ]:
df1["state"]=[x.split(',')[-1] for x in df1["region_name"]]
df1["state"]

## **Slicing 'metro area' from State name**

In [ ]:
for i in range(len(df1)):
  l=df1.iloc[i]['state'].split(' ')
  if len(l)>2:
    df1.at[i,'state']=l[1]
  df1.at[i,'state']=df1.at[i,'state'].strip()

In [ ]:
df1["state"].value_counts()

##**Group data by State name, region type, region name, year and month**

In [ ]:
df1.groupby(["state","region_type","region_name","year","month"]).first()

# Visuals

In [ ]:
fig1=px.sunburst(df1,path=["state","region_type","region_name","year","month"],values='median_sale_price')
fig1.show()

**Correlation between attributes**

In [ ]:
corr=df1.corr()
corr

In [ ]:
plt.subplots(figsize=(100,50))
bx3=sns.heatmap(corr,vmin=-1,vmax=1,annot=True)

##**Basic plots**

In [ ]:
y1=list(df1["state"].value_counts())
x1=df1["state"].value_counts().index

In [ ]:
fig1=px.bar(x=x1,y=y1,labels={"x":"States","y": "Number of regions" },title="Number of regions per State")
fig1.show()

In [ ]:
y2=list(df1["region_type"].value_counts())
x2=df1["region_type"].value_counts().index

In [ ]:
fig2=px.bar(x=x2,y=y2,labels={"x":"Regions type","y": "Count" },title="Number of regions types")
fig2.show()

In [ ]:
y3=list(df1["year"].value_counts())
x3=df1["year"].value_counts().index

In [ ]:
fig3=px.bar(x=x3,y=y3,labels={"x":"Year","y": "Value count" },title= "Year value counts")
fig3.show()

In [ ]:
y4=list(df1["month"].value_counts())
x4=df1["month"].value_counts().index

In [ ]:
fig4=px.bar(x=x4,y=y4,labels={"x":"Month","y": "Value count" },title= "Month value counts")
fig4.show()

In [ ]:
y5=list(df1["duration"].value_counts())
x5=df1["duration"].value_counts().index

In [ ]:
fig5=px.bar(x=x5,y=y5,labels={"x":"Duration window","y": "Value count" },title= "Duration window value counts")
fig5.show()

##**State wise stats**

In [ ]:
df1['state'].unique()

In [ ]:
len(df1['state'].unique())

###**County stats state wise**

In [ ]:
county=df1[df1['region_type']=='county']

In [ ]:
grp1=county.groupby(["state"]).mean().reset_index()
grp1

In [ ]:
fig5=px.bar(grp1,x='state',y='average_homes_sold',title= "Average homes sold in each State",barmode='group')
fig5.show()

In [ ]:
fig6=px.bar(grp1,x='state',y='median_sale_price',title= "Median sale price in each State")
fig6.show()

In [ ]:
fig7=px.bar(grp1,x='state',y='median_sale_ppsf',title= "Median sale price per square feet in each State")
fig7.show()

In [ ]:
fig8=px.bar(grp1,x='state',y='median_days_on_market',title= "Median days on market in each State")
fig8.show()

In [ ]:
fig9=px.bar(grp1,x='state',y='price_drops',title= "Price drops in each State")
fig9.show()

In [ ]:
fig10=px.bar(grp1,x='state',y='average_new_listings',title= "Average new listings in each State")
fig10.show()

###**Metro stats state wise**

In [ ]:
metro=df1[df1['region_type']=='metro']

In [ ]:
grp2=metro.groupby(["state"]).mean().reset_index()
grp2

In [ ]:
grp2.drop(38,inplace=True)

In [ ]:
fig11=px.bar(grp2,x='state',y='average_homes_sold',title= "Average homes sold in each State",barmode='group')
fig11.show()

In [ ]:
fig12=px.bar(grp2,x='state',y='median_sale_price',title= "Median sale price in each State")
fig12.show()

In [ ]:
fig13=px.bar(grp2,x='state',y='median_sale_ppsf',title= "Median sale price per square feet in each State")
fig13.show()

In [ ]:
fig14=px.bar(grp2,x='state',y='median_days_on_market',title= "Median days on market in each State")
fig14.show()

In [ ]:
fig14=px.bar(grp2,x='state',y='price_drops',title= "Price drops in each State")
fig14.show()

In [ ]:
fig15=px.bar(grp2,x='state',y='average_new_listings',title= "Average new listings in each State")
fig15.show()